
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 0);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Arial' Sans-serif;
}
button:active {
  transform: scale(0.95);
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem;
}
.logo{
    font-size:1.5rem;
    font-weight:300;
    letter-space:2px;
}
.nav-bar .Contact-btn,.home-btn,.projects-btn,.about-btn{
    padding: 0.5rem 2rem;
    font-size:1rem;
    background-color:white;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius:50px;
    color:black;
    transition: 0.3s;
    cursor:pointer;
    /* box-shadow: 0 0 10px rgba(170, 161, 161, 1); */
}
.nav-bar .Contact-btn:hover,.home-btn:hover,.projects-btn:hover,.about-btn:hover{
    background-color:rgba(0, 0, 0, 1);
    color:white;
    text-decoration:underline;
    box-shadow: inset 0 0 20px rgba(170, 161, 161, 1);

}
.scroll-down{
    height:5rem;
    width:2rem;
    position:absolute;
    right: -7%;
    bottom: 0%;
    border-radius:50px;
    cursor:pointer;
    box-shadow: inset 0 0 20px rgba(170, 161, 161, 1);
}
.scroll-down::before,
.scroll-down::after{
    content: "";
    position:absolute;
    top: 20%;
    left: 16px;
    height:10px;
    width: 10px;
    transform:translate(-50%,-100%) rotate(45deg);
    border:2px solid white;
    border-top:transparent;
    border-left:transparent;
    animation: scroll-down 2s ease-in-out infinite;
}
.scroll-down::before{
    top:30%;
    animation-delay: 0.5s;
}
@keyframes scroll-down{
    0%{
        opacity:0;
    }
    30%,60%{
        opacity:1;
    }
    100%{
        opacity:0;
        top:90%;
    }
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(0, 0, 0);
}

a, 
.btn{
    transition: all 300ms ease;

}
a{
    color: white;
    text-decoration: none;
    text-decoration-color: rgb(156, 153, 153);
}
a:hover{
    color: rgb(183, 181, 181);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(151, 150, 150);
}
.logo{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}
.logo:hover{
    cursor: default;
}


/* sections */
section{
    padding-top: 10vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}
/* profile section */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    position: relative;
}

h3{
    color: white;
}
.section_text{
    align-self: center;
    text-align: center;
}
.section_text p {
    font-weight: 600;
    color: gray;
}
.section_text_p1{
    text-align: center;
    color: gray;
}
.section_text_p2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: gray;
}
.title{
    font-size: 3rem;
    text-align: center;
    color: white;
}
#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* icons */
.icon {
    cursor: pointer;
    height: 2rem;
    filter: brightness(0) invert(1);
}

/* buttons */
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-1,.btn-color-2{
    border: rgb(255, 246, 246) 0.1rem solid;

}
.btn-color-1:hover,.btn-color-2:hover{
    cursor:pointer;
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border:rgb(255, 255, 255) 0.1rem solid;
}

/* about */

#about{
    position:relative;
}
.about-container{
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-container,
.about-details-container{
    display: flex;
}
.about-pic{
    border-radius: 2rem;
}
.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}
.details-container{
    padding: 1.5rem;
    flex: 1;
    background: gainsboro;
    border-radius: 2rem;
    border: gray 0.1rem solid;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.section-container{
    gap: 4rem;
    height: 80%;
}
.section_pic-container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.arrow:hover{
        filter: brightness(0) invert(0);
}
h3,p{
    color: gray;
}

/* experience */
#experience{
    position: relative;
    margin-top: 60px;
    padding-top: 60px;
}
.experence-sub-title{
    color: gray;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-align: center;
}
.experience-details-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 2rem;
    border: gray 0.1rem solid;
}
.article-container{
    display: flex;
    flex-wrap: wrap;
    text-align: initial;
    gap: 2rem;
    justify-content: space-around;
    margin-top: 20px;
}
.about-container{
    display: flex;
    flex-direction: column;
}
.main-container{
    display: flex;
    gap: 50px;
    margin-top:7em;
}
 article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: .5rem;
    margin-top: -20px;
 }